@model IEnumerable<DTRS.Models.Submission.DashboardSubmissionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainDesignLayout.cshtml";
}

@Html.Partial("_topBarCount")
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Submissions <small>Recruiter Wise</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                @*<li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>*@
                <li class="dropdown">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addCandidate" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-plus"></i> Add Candidates
                    </button>
                    @*<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>*@
                </li>
                @*<li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>*@
            </ul>
            @Html.Partial("_alertShow")

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p> <code></code> Overview of Submissions Recruiter Wise</p>
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Recruiter Name </th>

                            <th class="column-title">Total Submission </th>
                            <th class="column-title">Total Interviews </th>
                            <th class="column-title">Total PO </th>
                            <th class="column-title">Total Candidate's </th>
                            @*<th class="column-title">Status </th>*@
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var recruiter in Model)
                        {
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">@recruiter.Name</td>
                                <td class=" ">@recruiter.TSCount </td>
                                <td class=" ">@recruiter.TICount <i class="success fa fa-long-arrow-up"></i></td>
                                <td class=" ">@recruiter.TPOCount </td>
                                <td class=" ">@recruiter.TCCount</td>

                                <td class=" last">
                                    <a href="@Url.Action("SubmissionRecWise","Dashboard",new { @area = "MarketingManager" })?_recname=@recruiter.Name">View</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>