@model IEnumerable<DTRS.Models.CandidateMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainDesignLayout.cshtml";
}

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Submissions <small>Recruiter Wise</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                @*<li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>*@
                <li class="dropdown">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addCandidate" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-plus"></i> Add Candidates
                    </button>
                    @*<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>*@
                </li>
                @*<li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>*@
            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @Html.Partial("_alertShow")

            <p> <code></code> Overview of Submissions Recruiter Wise</p>
           
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CandidateName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CandidateEmailId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MarketingEmailId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MarketingNumver)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InsertBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Technology)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CandidateName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CandidateEmailId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MarketingEmailId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MarketingNumver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InsertBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Technology)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CandidateId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CandidateId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CandidateId })
                            </td>
                        </tr>
                    }

                </table>
            </div>


        </div>
    </div>
</div>


