@model DTRS.Models.UserLoginMaster
@using DTRS.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mainDesignLayout.cshtml";
    dbReportingSystemEntities db = new dbReportingSystemEntities();
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add Following Details</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="dropdown-item" href="#">Settings 1</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <form id="demo-form2" method="post" action="@Url.Action("Create","UserLoginManage",new { @area = "admin"})" data-parsley-validate class="form-horizontal form-label-left">
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Location <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <select name="Location" id="Location" class="form-control">
                            <option value="Select">--Select Location--</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Visnagar">Visnagar</option>
                        </select>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        User Role <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <select name="UserRole" id="UserRole" class="form-control">
                            <option value="Select">--Select Role--</option>
                            @foreach (var item in db.RoleMasters.Where(a => a.RoleId != 1 && a.RoleId != 7).ToList())
                            {
                                <option value="@item.RoleId">@item.RoleTitle</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Roket User Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="RocketUserName" name="RocketUserName" required="required" class="form-control ">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Full Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="FullName" name="FullName" required="required" class="form-control ">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Email Id <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="email" id="EmailId" name="EmailId" required="required" class="form-control ">
                    </div>
                </div>


                <div class="ln_solid">
                </div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <a href="@Url.Action("Index","UserLoginManage", new { @area = "admin"})" class="btn btn-primary" type="button">Back</a>
                        @*<button class="btn btn-primary" type="reset">Reset</button>*@
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
