<!-- The Modal -->

@using DTRS.Models
@{
    dbReportingSystemEntities db = new dbReportingSystemEntities();
}
<div class="modal fade" id="addSubmission">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Submission</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add Following Details</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a class="dropdown-item" href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" method="post" action="@Url.Action("Create","Dashboard",new { @area = "Recruiter"})" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Candidate Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select name="CandidateName" class="form-control">
                                                <option>Select Candidate Name</option>
                                                @{
                                                    string name = Session["name"].ToString();
                                                }
                                                @foreach (var item in db.CandidateMasters.Where(a => a.AssignTo == name))
                                                {
                                                    <option value="@item.CandidateName">@item.CandidateName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Candidate Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select name="JobPortalName" class="form-control">
                                                <option>Select Job Portal</option>
                                                @foreach (var item in db.JobPortalMasters.ToList())
                                                {
                                                    <option value="@item.JobPortalTitle">@item.JobPortalTitle</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Technology <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select name="Technology" class="form-control">
                                                <option>Select Technology Name</option>
                                                @foreach (var item in db.TechnologyMasters)
                                                {
                                                    <option value="@item.TechName">@item.TechName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                Location <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
                <select name="Location" class="form-control">
                    <option value="Visnagar">Visnager</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                </select>
            </div>
        </div>*@
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Job Rate $ <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="number" autocomplete="off" id="Rate" name="Rate" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Client Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="ClientName" name="ClientName" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Vendor Number <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="VendorName" name="VendorName" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Email Address <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="email" id="ContactEmailId" name="ContactEmailId" required="required" class="form-control ">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Venndor Company Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" placeholder="" id="VendorCompanyName" name="VendorCompanyName" required="required" class="form-control ">
                                        </div>
                                    </div>
                                    @*<div class="item form-group">
            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
            <div class="col-md-6 col-sm-6 ">
                <input id="middle-name" class="form-control" type="text" name="middle-name">
            </div>
        </div>*@
                                    @*<div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
            <div class="col-md-6 col-sm-6 ">
                <div id="gender" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                    </label>
                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="female" class="join-btn"> Female
                    </label>
                </div>
            </div>
        </div>*@
                                    @*<div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Date Of Birth <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
                <input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                <script>
                    function timeFunctionLong(input) {
                        setTimeout(function () {
                            input.type = 'text';
                        }, 60000);
                    }</script>
            </div>
        </div>*@
                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-3">
                                            <button class="btn btn-primary" type="button">Cancel</button>
                                            @*<button class="btn btn-primary" type="reset">Reset</button>*@
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>